table, th, td{
    border: 1px solid black;
}

#rightCol{
    float: left;
}

#leftCol{
    float: right;
}
#titl{
    font-weight: 600;
}
#subhead{
    color:rgb(199, 199, 199);
    font-size: 12px;
}
#bodyText{
    font-size: 16px;
}
td{
    text-align: center;
}


/*
All of the following is sourced from https://codepen.io/P1N2O/pen/pyBNzX
it is not neccessary but it does make the button stand out
*/
button {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
